# git ignore files
wandb/
*.log
*.out
nohup.out
__pycache__/
logs/
.ipynb_chekpoints
results/
best_model/
prediction/
models_result/
data/
outputs/
notebooks/


# 파이썬 가상 환경
.venv_mrc/

# 모델 결과
models/
outputs/
nohup.outputs

# 데이터
data/
